.Navbar{
  background-color:#000;
  color:rgba(254, 254, 254, 1);

}
.navbar-toggler{
    border-color: transparent

}
button:focus{
  outline:0px;
  border-color: #000;

}
.dropdown-menu{
   background-color: #000;
}
.dropdown-item{
  color:#fefefe
}
.navbar-dark .navbar-toggler-icon{
  color: #fefefe
}
.navbar-dark .navbar-toggler{
  border-color: #000;
size:
}
.dropdown-divider{
  border-top:hidden;
}
.navbar-dark .navbar-nav .nav-link {
  color:#fefefe
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #000000
}
.btn-dark{
  background-color:transparent;
  border-color:transparent;
  color:transparent;
  padding-top: 0px;
  padding-bottom:0px;
}
.btn-success:hover{
  color:transparent;
  background-color:transparent;
  border-color:transparent;
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.5);;
}
.btn-success{
  color:transparent;
  background-color:transparent;
  border-color:transparent;
  margin-left: -3.45em;
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 0;
    padding-top: 0;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle{
  color:transparent;
  background-color:transparent;
  border-color:transparent;
  box-shadow:0 0 0 0 rgba(0, 0, 0, 0.5);;
}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0  rgba(245, 78, 0, 0.5);
}
@media only screen and (max-width: 768px){


}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
   width: 100%;
}
.navbar-brand{


}
