body {
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline-block;
  list-style-type: square;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFFF;
  font-weight: bold;
  text-decoration: none;
  padding: 18px;
  display: inline-block;
}

.content h2 {
  padding: 10px;
  margin: 0;
}
.content li {
  margin-bottom: 7%;
}
.active {
  background-color: #0099FF;
}
form div + div {
  margin-top: 1em;
}
label {
  display: inline-block;
  width: 50%;
  text-align: right;
}
input{
  font: 1em sans-serif;
  width: 40%;
  box-sizing: border-box;
  border: 0.11em solid #999;
}

input:focus {
  border-color: #000;
}
